@import "fonts";
@import "normalize";
@import "base";
@import "vars";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/grid";


header {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 12vh;
    .container-header {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.menu-desktop {
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            margin-left: 40px;
            a {
                padding-top: 10px;
                padding-bottom: 10px;
                box-sizing: border-box;
                font-family: "MontsSemiBold", sans-serif;
                color: $color-font-button;
                &:hover {
                    text-decoration: none;
                    opacity: 0.7;
                }
                &:focus {
                    opacity: 0.7;
                }
              }
        }
    } 
}

.header-fixed {
    position: fixed;
    background-color: #910c38;
    z-index: 100;
    transition: 0.8s;
}

.wr-home {
    position: relative;
    z-index: 10;
    height: 100vh;
    background-image: linear-gradient(225deg, rgba(68,46,130,0.9) 0%, rgba(237,27,51,0.9) 98%),
    url("../media/images/bg/bg-home.jpg");
    background-size: cover;
    background-position: bottom left;
    &::after {
        content: '';
        position: absolute;
        left: 39%;
        right: 8%;
        top: 17%;
        bottom: 0;
        z-index: -5;
        background-image: url("../media/images/bg/worker-home.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    } 
}

.container-header {
    max-width: 1680px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-left {
    display: flex;
    align-items: center;
    .logo {
        font-family: "MontsSemiBold", sans-serif;
        font-size: 42px;
        color: $color-font-button;
    }
    img {
        margin-right: .5vh;
        height: 60px;
    }
    &:hover {
        opacity: 0.8;
        color: $hover-color-font-a;
    }
}

.header-menu {
    display: flex;
}

// .home-menu {
//     display: flex;
//     align-items: center;
//     :hover {
//         outline: none; 
//         background-color: transparent;
//     }
// }

// .home-navigation ul {
//     margin-top: 2vh;
//     display: flex;
//     align-items: center;
//     li {
//         margin-left: 40px;
//         a {
//             padding-top: 10px;
//             padding-bottom: 10px;
//             box-sizing: border-box;
//             font-family: "MontsSemiBold", sans-serif;
//             color: $color-font-button;
//             &:hover {
//                 opacity: 0.7;
//             }
//         }
//     }
// }

.home-button {
    margin-left: 40px;
    padding: 0; 
    img {
        height: 25px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.container-preamble {
    max-width: 1380px;
    padding: 28vh 15px 25.7vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.wr-intro-preview {
    margin-bottom: 5.8vh;
    width: 60%;
}

.intro-title {
    margin-bottom: .8vh;
    max-width: 600px;
    font-family: "PalatLin", sans-serif;
    font-size: 43px;
    font-weight: 100;
    color: $first-font-color;
}

.intro-description {
    margin-bottom: 7vh;
    font-size: 23px;
    color: $first-font-color;
    line-height: 3.8vh;
    max-width: 750px;
}

.intro-buttons{
    display: flex;
    justify-content: space-around;
    a {
        height: 60px;
        width: 197px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $color-font-button;
        text-transform: uppercase;
        border-radius: 42px;
    }    
    .red-button {
        background-color: #f42267;
        margin-left: 6.7vh;
        &:hover {
            color: #d6d4d4;
        }
     }
    .violet-button {
        background-color: #5e3088;
        margin-left: 2.7vh;
        &:hover {
            color: #d6d4d4;
        }
    }
}

// section-2

.bg-section-2-3 {
    background-image: url("../media/images/bg/bg-section-2-3.png");
    background-position-y: -72px;
    background-position-x: 12px;
    background-repeat: no-repeat;
}

.wr-work {
    padding-top: 7.2vh;
    padding-bottom: 12.4vh;
    position: relative;
    .container-custom {
        display: flex;
    }
    &::after {
        content: '';
        position: absolute;   
        left: 55%;
        top: 10%;
        right: 8%;
        bottom: 0;
        background-image: url("../media/images/bg/home-watch.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    } 
}

.work-content {
    margin-top: 2.5vh;
    max-width: 575px;
    .work-title {
        margin-bottom: .5vh;
        font-family: "PalatLin", sans-serif;
        font-size: 33px;
        font-weight: 100;
    }
}

#tabContainer {
    height: 215px;
}

.tabs {
    ul {
        margin-bottom: 2.2vh;
        padding-left: 0;
        display: flex;
        li {
            margin-right: 1px; 
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 130px;
            font-family: "MontsSemiBold", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 33px; 
            &:hover { 
                cursor: pointer;
                opacity: 0.7;
            }
            &.tabActiveHeader{
                background-color: $color-button;
                cursor: pointer;
                color: $color-font-button;
            }
        }       
    }
}

.tabs-description {
    position: relative;
    margin-bottom: 5.4vh;
    font-size: 14px;
    line-height: 2.7vh;
    letter-spacing: -.1px;
    font-weight: 800;
    display: none;
    &:target {
        display: block;
    }
}

.tabs-item {
    position: relative;
    &::before {
    content: "";
    position: absolute;
    background-color: $color-button;
   }
}


// section-3

.wr-achievements {
    position: relative;
    &::after {
        content: "";
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-color: #4b2d7f;
        z-index: -15;
    }
}

.container-achievements {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.achievements-projects {
    position: relative;
    box-sizing: border-box;
    padding-top: 9.4vh;
    padding-bottom: 8.6vh;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:hover {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #40286a;
            z-index: -10;
        }
    }
    svg {
        height: 75px;
        color: #fff;
    }
}

.achievements-amount {
    margin-bottom: 0;
    font-size: 51px;
    color: $first-font-color;
    font-weight: 800;
}

.achievements-description {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.41);
    width: 67%;
    text-align: center;
    line-height: 2.5vh;
}

// section-4

.wr-ad {
    padding-top: 7.5vh;
    padding-bottom: 9.2vh;
    background-image: url('../media/images/bg/bg-section-4.jpg');
    background-size: cover;
    position: relative;
    z-index: 5;
    color: $first-font-color;
    .container-custom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #6766c2;
        opacity: 0.6;
        z-index: -5;
    } 
}

.ad-slogan {
    margin-bottom: 0;
    max-width: 450px;
    font-family: "PalatLin";
    font-size: 47px;
    word-spacing: -3.8px;
    letter-spacing: 1.6px;
}
.ad-description {
    margin-bottom: 5vh;
    font-size: 20px;
    line-height: 3.6vh;
    width: 80%;
    word-spacing: 1px;
}

// section-5

.wr-media {
    padding-top: 9vh;
    padding-bottom: 13.2vh;
    .container-custom {
        display: flex;
    }
}

.media-description {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 4.2vh;
}

.media-title {
    margin-bottom: 0;
    font-family: "PalatLin";
    font-size: 32px;
}

.media-about {
    font-size: 18px;
    line-height: 2.7vh;
    margin-bottom: 5.7vh;
}

.media-block {
    display: flex;
    max-width: 600px;
}

.media-block-half {
    max-width: 300px;
    .icon-conversation {
        img {
            margin-bottom: 1.1vh;
            height: 70px;
        }
    }
    .icon-color-shout {
        img {   
            margin-bottom: .4vh;   
            height: 75px;
        }
    }
}

.media-block-title {
    font-family: "MontsSemiBold";
    font-size: 25px;
    margin-bottom: 0.3vh;
    word-spacing: -4px;
}

.media-block-description {
    font-size: 14px;
    line-height: 2.7vh;
    width: 86%;
    margin-bottom: 3.8vh
}

.video {
    height: 460px;
    width: 555px;
    overflow: hidden;
    position: relative;
    .controls {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateY(100%) translateY(1px);
        transition: all 0.5s;
        progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            color: #2ab6b1;
            background-color: #000;
        }
        .buttons {
            padding-top: 10px;
            display: flex;
            justify-content: space-around;
            .play-pause {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 23px;
                    background: url("../media/images/icons/play-icon.png") center/cover no-repeat;
                }
            }
            .stop {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 23px;
                    background: url("../media/images/icons/icon-stop.png") center/cover no-repeat;
                }
            }
            .mute {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 23px;
                    height: 23px;
                    background: url("../media/images/icons/mute-on-small.png") center/cover no-repeat;
                  }
            }
            .pause {
                &::before {
                    content: "";
                    background: url("../media/images/icons/pause-icon.png") center/cover no-repeat;
                }
            }
            .play {
                &::before {
                    content: "";
                    background: url("../media/images/icons/play-icon.png") center/cover no-repeat;
                }    
            }
            .mute-off {
                &::before {
                    content: "";
                    background: url("../media/images/icons/mute-small.png") center/cover no-repeat;
                }
            }
            .mute-on {
                &::before {
                    content: "";
                    background: url("../media/images/icons/mute-on-small.png") center/cover no-repeat;
                }
            }
        }
    }
    &:hover .controls {
        transform: translateY(0);
    }
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .button-main-hidden {
        display: none;
    }
}

.btn-play-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color:  $color-button;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    &::after {
        content: "";
        background-image: url("../media/images/icons/button-play.png");
        background-size: cover;
        position: absolute;
        height: 40px;
        width: 35px;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        &::after {
            background-image: url("../media/images/icons/button-play-hover.png");
            background-size: cover;
        } 
    }
    &.hide-btn {
        opacity: 0;
    }
}

// section-6

.wr-works {
padding-top: 7.3vh;
padding-bottom: 13.2vh;
background-color: #f1f1f1;
}

.works-head {
    margin-bottom: 3.1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-size: 20px;
        max-width: 970px;
        text-align: center;
        line-height: 3.4vh;
    }
   
}

#myBtnContainer {
    margin-bottom: 6.3vh;
    display: flex;
    justify-content: center;
}

.row {
    margin-bottom: 9vh;
    img {
        margin: 15px;
        width: 380px;
        height: 315px;
        object-fit: cover;
        object-position: center;
    }
}
    
.column {
    display: none; 
}
   
.show {
    display: block;
}
  
.btn {
    margin-right: 4vh;
    &:last-child {
        margin-right: 0;
    }
    &.active {
        background-color: $color-button;
        color: white;
    }
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    height: 45px;
    width: 130px;
    font-family: "MontsSemiBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 33px; 
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        box-shadow: none;
    }
}

.wr-works-button {
    display: flex;
    justify-content: center;
}

// section-7

.wr-logos {
    padding-top: 12vh;
    padding-bottom: 11.5vh;
    background-color: #4b2d7f;
    .container-custom {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 166px));
        grid-template-rows: repeat(2, minmax(40px, 80px));
        justify-content: center;
        column-gap: 100px;
        row-gap: 55px;
        
        a {
           align-self: center;
           justify-self: center;
           &:hover {
             opacity: 0.8;
         }
        }
    }
}

//section-8 

.wr-clients {
    padding-top: 6vh;
    padding-bottom: 8.3vh;
    position: relative;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.81);
    background-position: top;
    background-image: url("../media/images/bg/bg-section-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    &::before {
        content: '';
        position: absolute;
        left: 43%;
        right: 8%;
        top: 3%;
        bottom: 0;
        z-index: -6;
        background-image: url("../media/images/bg/bg-client.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    } 
    &::after {
        content: '';
        position: absolute;
        left: 43%;
        right: 8%;
        top: 3%;
        bottom: 0;
        z-index: -5;
        background-image: url("../media/images/bg/client.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    }
    .container-custom {
        padding-left: 12vh;
        color: $first-font-color;
        img {      
            margin-left: 4.7vh;
            margin-bottom: 2.3vh;
            height: 20px;
        }
    }
}

.clients-slogan {
    margin-bottom: 0;
    max-width: 400px;
    font-family: "PalatLin", sans-serif;
    font-size: 41px;
}

.clients-heading {
    margin-bottom: 5.5vh;
    font-family: "MontsSemiBold", sans-serif;
    font-size: $font-large;
}

.clients-description {
    margin-bottom: 7vh;
    max-width: 600px;
    display: flex;
    font-family: "MontsLight", sans-serif;
    font-size: 22px;
    line-height: 3vh;
    span {
        margin-top: 2.5vh;
        font-size: 140px;
        color: $color-button;
        font-weight: 600;
    }
}

.clients-full-name {
    margin-left: 4.4vh;
    font-family: "MontsLight", sans-serif;
    max-width: 250px;
    font-size: 25px;
    word-spacing: -2px;
}


//section-9

.wr-form {
    padding-top: 10vh;
    padding-bottom: 38vh;
    background-color: #f42267;
}

//section-10

.wr-social-networks {
    padding-top: 8vh;
    padding-bottom: 6vh;
    background-color: #4b2d7f;
}

.social-link {
    padding-left: 0;
    display: flex;
    justify-content: center;
    li {
        a {
            margin-right: 4.1vh;
            margin-left: 4.1vh;
            color: $first-font-color;
            font-size: 27px;
            &:hover {
                opacity: 0.7;
            }
        }
        &::after {
            content: "|";
            color: #7647c7;
            font-size: 26px;
        }
        &:last-child {
            &::after {
            content: '';
            }
        }
    }
}

//section-11

.bg-section-11-12 {
    background-image: url("../media/images/bg/bg-section-2-3.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.wr-company {
    padding-top: 11.4vh;
    padding-bottom: 5.3vh;
    .company-container {
        display: flex;
        justify-content: space-between;     
        .company-kids {
            display: flex;
            max-width: 515px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.occupation {
    margin-bottom: 7vh;
    flex: 50%;
    .title-company {  
        margin-bottom: 2vh;
        font-family: "PopBold", sans-serif;
        font-size: 25px;
        color: #4b2d7f;
    }
    ul {
        padding-left: 0;
        margin-left: 1.2vh;
        li {
            a {
                font-family: "PopSemiBold", sans-serif;
                color:  #171717;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

.company-workers {
    display: flex;
    flex-wrap: wrap;
    max-width: 615px;
    max-height: 465px;
}

.company-wrapper-bg-img {
    margin: 1vh;
    height: 215px;
    width: 280px;
    border-radius: 20px;
    &.first {
        background: url("../media/images/our-workers/1.jpg") no-repeat center;
    }
    &.second {
        background: url("../media/images/our-workers/2.jpg") no-repeat center;
    }
    &.third {
        background: url("../media/images/our-workers/3.jpg") no-repeat center;
    }
    &.fourth {
        background: url("../media/images/our-workers/4.jpg") no-repeat center;
    }
}






//section-12

footer {
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
    position: relative;
    .container-custom {
        display: flex;
        justify-content: center;
    }
    &::after {
        content: "";
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-color: #f6f6f6;
        z-index: -5;
    }
}

.footer-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    li {
        margin-right: 1.8vh;
        span {
        font-family: "PopSemiBold", sans-serif;
        font-size: 18px;
        color: #171717;
        }
        a {
        font-family: "PopSemiBold", sans-serif;
        font-size: 18px;
        color: #171717;
          &:hover {
            opacity: 0.7;
          }
        }
    }
}


// gallery 

.gallery {
    background-color: #f7f7f7;
    height: 100vh;
    overflow: hidden;
    &__head {
        display: grid;
        justify-items: center;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        &__content {
           padding: 10px;
           position: relative;
           min-height: 22vh;
           display: grid;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           text-align: center;
           align-content: center;
           color:#fff;
           transition: color .5s ease;
           font-size: 25px;
           font-weight: 600;
           &:hover {
               color: #f42267;
               &::after {
                   opacity: 0.5;
               }
           }
           &::after {
               content: "";
               position: absolute;
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;
               background-color: #494949;
               opacity: 0.3;
           }
           &.first {
               grid-column: 1 / 3;
           background-image: url("../media/images/works-preview/1.jpg");
           }
           &.second {
            background-image: url("../media/images/works-preview/2.jpg");
           }
           &.third {
            background-image: url("../media/images/works-preview/3.jpg");
           }
           &.fourth {
            background-image: url("../media/images/works-preview/4.jpg");
           } 
           &.fifth {
               grid-column: 2 / 4;
            background-image: url("../media/images/works-preview/5.jpg");
           } 
           &.sixth {
               grid-column: 4;
               grid-row: 3 / 5;
            background-image: url("../media/images/works-preview/6.jpg");
           } 
           &.seventh {
            background-image: url("../media/images/works-preview/7.jpg");
           } 
           &.eighth {
            background-image: url("../media/images/works-preview/8.jpg");
           } 
           &.ninth {
            background-image: url("../media/images/works-preview/9.jpg");
           }  
           span {
            z-index: 5;
           }
        }
        &__button {
            justify-self: center;
            grid-column: 1 / 5;
        }
        p {
            margin-top: 2vh;
            margin-bottom: 2vh; 
            justify-self: center;
            grid-column: 1 / 5;
            font-size: 32px;
            font-weight: 700;
        }
    }
}





@import "./media"; //всегда в конце

