@font-face {
    font-family: "MontsReg";
    src: url("../../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../../fonts/Montserrat-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "MontsSemiBold";
    src: url("../../fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("../../fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("../../fonts/Montserrat-SemiBold.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
}
