@import "fonts";
@import "normalize";
@import "vars";

.gallery__container {
    max-width: 1600px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: $basic-font-family;
    overflow-x: hidden;
}

.gallery {
    background-color: #f7f7f7;
    height: 100vh;
    &__head {
        display: grid;
        justify-items: center;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        overflow: hidden;
        &__title {
            margin-top: 2vh;
            margin-bottom: 2.5vh;
            justify-self: center;
            grid-column: 1 / 5;
            font-family: "MontsSemiBold", sans-serif;
            font-size: 50px;
            word-spacing: -2px;
            letter-spacing: -1px;
            font-weight: 600;
        }
        
        &__content-img {
            height: 22vh;
            &_sixth {
                height: 45.5vh;
            }
        }
        &__img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
        &__sign {
            text-transform: uppercase;
            z-index: 5;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%);
        }
        &__content {
           position: relative;
           display: grid;
           text-align: center;
           align-content: center;
           color:$color-font-button;
           transition: color .5s ease;
           font-size: 25px;
           font-weight: 600;
           &:hover {
               color: $color-button;
               &::after {
                   opacity: 0.5;
               }
           }
           &::after {
               content: "";
               position: absolute;
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;
               background-color: #494949;
               opacity: 0.3;
           }
           &_first {
               grid-column: 1 / 3;
           } 
           &_fifth {
               grid-column: 2 / 4;
           } 
           &_sixth {
               grid-column: 4;
               grid-row: 3 / 5;
           }  
        }
        &__button-container {
            margin-top: 2vh;
            margin-bottom: 2vh;
            justify-self: center;
            grid-column: 1 / 5;
        }
        &__button {
            position: relative;
            padding-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            height: 40px;
            width: 145px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 12px; 
            background-color: #f42267;
            box-shadow: 0px 7px 0 0 #ff5990;
            -webkit-tap-highlight-color: rgba(0,0,0,0); 
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            transition: none;
            &:hover {
                outline: none;
                box-shadow: 0px 4px 0 0 #ff5990;
                top: 3px;
            }
            &:active {
                outline: none;
                box-shadow: 0 0 0 0 #ff5990;
                top: 7px;
                -webkit-tap-highlight-color: rgba(0,0,0,0); 
                -webkit-tap-highlight-color: transparent;
            }
            &_hide {
                display: none;
            }
        }
    }
}

.grid-show {
    margin-top: -4vh;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    &_second {      
       display: grid;
    }
    &__content {
       &_second {
        grid-column: 2 / 4;
       }
       &_third {
        grid-column: 4 / 6;
       }
       &_sixth {
           grid-column: 3 / 5;
       }  
       &_eighth {
           grid-column: 1 / 3;
       } 
       &_tenth {
           grid-column: 4 / 6;
       }
    }
    &__button-container {
        justify-self: center;
        grid-column: 1 / 6;
        margin-bottom: 3vh;
    }
}

@import "./media"; //всегда в конце

