$color-button: #f42267;
$color-button-focus: #ff5990;
$color-font-button-hover: #fff;
$color-font-button-focus: #fff;
$color-font-button: #fff;
$first-font-color: #fff;
$second-font-color: #333;
$color-neader-and-bg: #4b2d7f;



$hover-color-font-a: #fff;
$font-large: 49px;
$basic-font-size: 16px;
$basic-font-family: "MontsReg", sans-serif;