@import "fonts";
@import "normalize";
@import "base";
@import "vars";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/grid";


header {
    padding-top: 4.6vh;
    padding-bottom: 3.9vh;
}

.wr-home {
    position: relative;
    z-index: 10;
    height: 100vh;
    background-image: linear-gradient(225deg, rgba(68,46,130,0.9) 0%, rgba(237,27,51,0.9) 98%),
    url("../../media/bg/bg-home.jpg");
    background-size: cover;
    background-position: bottom left;
    &::after {
        content: '';
        position: absolute;
        left: 39%;
        right: 8%;
        top: 17%;
        bottom: 0;
        z-index: -5;
        background-image: url("../../media/bg/worker-home.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    } 
}

.container-header {
    max-width: 1680px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "MontsSemiBold", sans-serif;
    font-size: 42px;
    color: $color-font-button;
    img {
        margin-bottom: 1vh;
        width: 72px;
    }
    &:hover {
        opacity: 0.8;
        color: $hover-color-font-a;
    }
}

.wr-home-menu {
    display: flex;
    align-items: center;
    :hover {
        outline: none; 
        background-color: transparent;
    }
}

.home-navigation ul {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    li {
        margin-left: 40px;
        a {
            padding-top: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            font-family: "MontsSemiBold", sans-serif;
            color: $color-font-button;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.wr-home-button {
    margin-left: 40px;
    margin-top: 5px;
    padding: 0; 
    img {
        width: 30px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.container-preamble {
    max-width: 1380px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12.7vh;
    padding-bottom: 25.7vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.wr-intro-preview {
    margin-bottom: 5.8vh;
    width: 60%;
}

.wr-intro-title {
    margin-bottom: .8vh;
    max-width: 600px;
    font-family: "PalatLin", sans-serif;
    font-size: 43px;
    font-weight: 100;
    color: $first-font-color;
}

.wr-intro-description {
    margin-bottom: 7vh;
    font-size: 23px;
    color: $first-font-color;
    line-height: 3.8vh;
    max-width: 750px;
}

.wr-intro-buttons{
    display: flex;
    justify-content: space-around;
    a {
        height: 60px;
        width: 197px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $color-font-button;
        text-transform: uppercase;
        border-radius: 42px;
    }    
    .red-button {
        background-color: #f42267;
        margin-left: 6.7vh;
        &:hover {
            color: #d6d4d4;
        }
     }
    .violet-button {
        background-color: #5e3088;
        margin-left: 2.7vh;
        &:hover {
            color: #d6d4d4;
        }
    }
}

// section-2

.bg-section-2-3 {
    background-image: url("../../media/bg/bg-section-2-3.png");
    background-position-y: -72px;
    background-position-x: 12px;
    background-repeat: no-repeat;
}

.wr-work {
    padding-top: 7.2vh;
    padding-bottom: 12.4vh;
    position: relative;
    .container-custom {
        display: flex;
    }
    &::after {
        content: '';
        position: absolute;   
        left: 55%;
        top: 10%;
        right: 8%;
        bottom: 0;
        background-image: url("../../media/bg/home-watch.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    } 
}

.wr-work-content {
    margin-top: 2.5vh;
    max-width: 575px;
    .wr-work-title {
        margin-bottom: .5vh;
        font-family: "PalatLin", sans-serif;
        font-size: 33px;
        font-weight: 100;
    }
}

#tabContainer {
    height: 215px;
}

#tabs {
    ul {
        margin-bottom: 2.2vh;
        padding-left: 0;
        display: flex;
        li {
            margin-right: 1px; 
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 130px;
            font-family: "MontsSemiBold", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 33px; 
            &:hover { 
                cursor: pointer;
                opacity: 0.7;
            }
            &.tabActiveHeader{
                background-color: $color-button;
                cursor: pointer;
                color: $color-font-button;
            }
        }       
    }
}

.tabs-description {
    position: relative;
    margin-bottom: 5.4vh;
    font-size: 14px;
    line-height: 2.7vh;
    letter-spacing: -.1px;
    font-weight: 800;
    display: none;
    &:target {
        display: block;
    }
}

.tabs-item {
    position: relative;
    &::before {
    content: "";
    position: absolute;
    background-color: $color-button;
   }
}


// section-3

.wr-achievements {
    position: relative;
    &::after {
        content: "";
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-color: #4b2d7f;
        z-index: -15;
    }
}

.container-achievements {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.wr-achievements-projects {
    position: relative;
    box-sizing: border-box;
    padding-top: 9.4vh;
    padding-bottom: 8.6vh;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:hover {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #40286a;
            z-index: -10;
        }
    }
    picture {
        margin-bottom: 1.3vh;
        width: 65px;
        height: 75px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.wr-achievements-amount {
    margin-bottom: 0;
    font-size: 51px;
    color: $first-font-color;
    font-weight: 800;
}

.wr-achievements-description {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.41);
    width: 67%;
    text-align: center;
    line-height: 2.5vh;
}

// section-4

.wr-ad {
    padding-top: 7.5vh;
    padding-bottom: 9.2vh;
    background-image: url('../../media/bg/bg-section-4.jpg');
    background-size: cover;
    position: relative;
    z-index: 10;
    color: $first-font-color;
    .container-custom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #6766c2;
        opacity: 0.6;
        z-index: -5;
    } 
}

.wr-ad-slogan {
    margin-bottom: 0;
    max-width: 450px;
    font-family: "PalatLin";
    font-size: 47px;
    word-spacing: -3.8px;
    letter-spacing: 1.6px;
}
.wr-ad-description {
    margin-bottom: 5vh;
    font-size: 20px;
    line-height: 3.6vh;
    width: 80%;
    word-spacing: 1px;
}

// section-5

.wr-media {
    padding-top: 9vh;
    padding-bottom: 13.2vh;
    .container-custom {
        display: flex;
    }
}

.wr-media-description {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 4.2vh;
}

.wr-media-title {
    margin-bottom: 0;
    font-family: "PalatLin";
    font-size: 32px;
}

.wr-media-about {
    font-size: 18px;
    line-height: 2.7vh;
    margin-bottom: 5.7vh;
}

.wr-media-block {
    display: flex;
    max-width: 600px;
}

.wr-media-block-half {
    max-width: 300px;
    .icon-conversation {
        img {
            margin-bottom: 1.1vh;
            width: 75px;
            height: 70px;
        }
    }
    .icon-color-shout {
        width: 65px;
        height: 75px;
        img {   
            margin-bottom: .4vh;   
            width: 65px;
            height: 75px;
        }
    }
}

.wr-media-block-title {
    font-family: "MontsSemiBold";
    font-size: 25px;
    margin-bottom: 0.3vh;
    word-spacing: -4px;
}

.wr-media-block-description {
    font-size: 14px;
    line-height: 2.7vh;
    width: 86%;
    margin-bottom: 3.8vh
}

.action-block {
    max-width: 555px;
    height: 460px;
    margin-top: 9.5vh;
    position: relative;
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    &:hover .action-block-controls.show-container {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}

.button-play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color:  $color-button;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    &::after {
        content: "";
        background-image: url("../../media/icons/button-play.png");
        background-size: cover;
        position: absolute;
        height: 40px;
        width: 35px;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        &::after {
            background-image: url("../../media/icons/button-play-hover.png");
            background-size: cover;
        } 
    }
    &.hide-btn {
        opacity: 0;
    }
}

.action-block-controls {
    position: absolute;
    max-width: 555px;
    width: 100%;
    bottom: 0px;
    height: 35px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    &.show-container {
        animation: controlsConatiner 3s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
     button {
        width: 20px;
        height: 20px;
        border-radius: 50%; 
        &:focus {
            outline: none;
        }
    }
}

.play-pause {
    position: relative;
    transition: 0.4s;
    &.flipped .pause-video {
        visibility: inherit;
    }
    &.flipped .play-video {
        visibility: hidden;
    }
    img {
        width: 12px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .pause-video {
        visibility: hidden;
    }
}
 
.range-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: rgba(0, 0, 0, 0.4);
}

#seek-bar {
    appearance: none; 
    width: 100%;
    height: 25px;
    background: transparent;
    outline: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0;
        height: 0;
        cursor: pointer;
        z-index: 20;
    }
}

.active-range {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #5fca2f;
    z-index: 0;
}

.video-mute {
    position: relative;
    transition: 0.4s;
    img {
        width: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .off-mute {
        visibility: hidden;
    }
    &.flipped .off-mute {
        visibility: inherit;
    }
}


// section-6

.wr-works {
padding-top: 7.3vh;
padding-bottom: 13.2vh;
background-color: #f1f1f1;
}

.wr-works-head {
    margin-bottom: 3.1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-size: 20px;
        max-width: 970px;
        text-align: center;
        line-height: 3.4vh;
    }
   
}

#myBtnContainer {
    margin-bottom: 6.3vh;
    display: flex;
    justify-content: center;
}

.content {
    margin: 15px;
    width: 380px;
    height: 315px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.row {
    margin-bottom: 9vh;
}
    
.column {
    display: none; 
}
   
.show {
    display: block;
}
  
.btn {
    margin-right: 4vh;
    &:last-child {
        margin-right: 0;
    }
    &.active {
        background-color: $color-button;
        color: white;
    }
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    height: 45px;
    width: 130px;
    font-family: "MontsSemiBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 33px; 
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        box-shadow: none;
    }
}

.wr-works-button {
    display: flex;
    justify-content: center;
}

// section-7

.wr-logos {
    padding-top: 12vh;
    padding-bottom: 11.5vh;
    background-color: #4b2d7f;
    .container-custom {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 166px));
        grid-template-rows: repeat(2, minmax(40px, 80px));
        justify-content: center;
        grid-column-gap: 100px;
        grid-row-gap: 55px;
        a {
           align-self: center;
           justify-self: center;
           &:hover {
             opacity: 0.8;
         }
        }
    }
}

//section-8 

.wr-clients {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.81);
    background-position: top;
    background-image: url("../../media/bg/bg-section-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    &::before {
        content: '';
        position: absolute;
        left: 43%;
        right: 8%;
        top: 3%;
        bottom: 0;
        z-index: -6;
        background-image: url("../../media/bg/bg-client.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    } 
    &::after {
        content: '';
        position: absolute;
        left: 43%;
        right: 8%;
        top: 3%;
        bottom: 0;
        z-index: -5;
        background-image: url("../../media/bg/client.png");
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: contain;
    }
}

.wr-clients {
    padding-top: 6vh;
    padding-bottom: 8.3vh;
    .container-custom {
        padding-left: 12vh;
        color: $first-font-color;
    }
} 

.wr-clients-slogan {
    margin-bottom: 0;
    max-width: 400px;
    font-family: "PalatLin", sans-serif;
    font-size: 41px;
}

.wr-clients-heading {
    margin-bottom: 5.5vh;
    font-family: "MontsSemiBold", sans-serif;
    font-size: $font-large;
}

.wr-clients-description {
    margin-bottom: 7vh;
    max-width: 600px;
    display: flex;
    font-family: "MontsLight", sans-serif;
    font-size: 22px;
    line-height: 3vh;
    span {
        margin-top: 2.5vh;
        font-size: 140px;
        color: $color-button;
        font-weight: 600;
    }
}

.wr-clients {
    .container-custom {
        img {      
            margin-left: 4.7vh;
            margin-bottom: 2.3vh;
            width: 128px;
        }
    }
}

.wr-clients-full-name {
    margin-left: 4.4vh;
    font-family: "MontsLight", sans-serif;
    max-width: 250px;
    font-size: 25px;
    word-spacing: -2px;
}


//section-9

.wr-form {
    padding-top: 10vh;
    padding-bottom: 38vh;
    background-color: #f42267;
}

//section-10

.wr-social-networks {
    padding-top: 8vh;
    padding-bottom: 6vh;
    background-color: #4b2d7f;
}

.social-link {
    padding-left: 0;
    display: flex;
    justify-content: center;
    li {
        a {
            margin-right: 4.1vh;
            margin-left: 4.1vh;
            color: $first-font-color;
            font-size: 27px;
            &:hover {
                opacity: 0.7;
            }
        }
        span {
            font-size: 27px;
            color: $first-font-color;
        }
    }
}

//section-11

.bg-section-11-12 {
    background-image: url("../../media/bg/bg-section-2-3.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.company {
    padding-top: 11.4vh;
    padding-bottom: 5.3vh;
     &__container {
         display: flex;
         justify-content: space-between;
     }
     &__kinds {
         min-width: 415px;
         display: flex;
         justify-content: space-between;
     }
     &__workers {
        max-height: 465px;
        max-width: 605px;
        display: flex;
        flex-wrap: wrap;
     }
     &__wrapper-bg-img {
        margin: 1vh;
        width: 280px;
        height: 215px;
        border-radius: 20px;
        &.first {
            background: url("../../media/our workers/1.jpg") no-repeat center;
        }
        &.second {
            background: url("../../media/our workers/2.jpg") no-repeat center;
        }
        &.third {
            background: url("../../media/our workers/3.jpg") no-repeat center;
        }
        &.fourth {
            background: url("../../media/our workers/4.jpg") no-repeat center;
        }
     }
}

.title-company {
    font-family: "PopBold", sans-serif;
    font-size: 25px;
    color: #4b2d7f;
}

.occupation {
    margin-bottom: 9vh;
    &__title {
        margin-bottom: 2vh;
    }
    &__works {
        padding-left: 0;
        margin-left: 1.2vh;
        li {
            a {
                font-family: "PopSemiBold", sans-serif;
                color:  #171717;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

//section-12

footer {
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
    position: relative;
    .container-custom {
        display: flex;
        justify-content: center;
    }
    &::after {
        content: "";
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-color: #f6f6f6;
        z-index: -5;
    }
}

.footer-list {
    display: flex;
    padding-left: 0;
    li {
        margin-right: 1.8vh;
        span {
        font-family: "PopSemiBold", sans-serif;
        font-size: 18px;
        color: #171717;
        }
        a {
        font-family: "PopSemiBold", sans-serif;
        font-size: 18px;
        color: #171717;
          &:hover {
            opacity: 0.7;
          }
        }
    }
}






@import "./media"; //всегда в конце

